<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Quản trị hệ thống</title>
    <link rel="stylesheet" href="~/Content/Administration/main_styles.css" />
</head>
<body>

    <div class="container">
        <!--Sidebar-->
        <section class="side-bar-section">
            <div id="user-container">
                <img src="~/archives/users/admin.png" width="128" height="128"/>
            </div>
            <ul id="main-menu">
                <li><a href="#">Tổng quát</a></li>
                <li>
                    <a href="#">Danh mục</a>
                    <ul id="sub-menu">
                        <li>
                        <a href="#">Thể loại phim</a></li>
                        <li><a href="#">Quốc gia</a></li>
                        <li><a href="#">Diễn viên</a></li>
                    </ul>
                </li>
                <li><a href="#">Quản lý phim</a></li>
                <li><a href="#">Quản lý người dùng</a></li>
                <li><a href="#">Phân quyền</a></li>
                <li class="log-out"><a href="#">Đăng xuất</a></li>
            </ul>
        </section>

        <!--Home-->
        <section class="home-section">
            <div class="home-header">
                <span>Tổng quát</span>
            </div>
            <div class="home-content">
                @RenderBody()
            </div>
        </section>
    </div>
</body>
</html>
